-- -*- lua -*-

help([[ anaconda3/2020.02]])

-- information
whatis("Name         : anaconda3 2020.02, python 3.7.6")
whatis("Version      : anaconda3 2020.02")
whatis("Category     : compiler")
whatis("Description  : python environment")
whatis("URL          : http://www.continuum.io/ ")
whatis("Installed on : 15/07/2020")

-- family
family("python")

-- local variables
local version = "2020.02"
local base = "{{ anaconda_installation_path }}"

-- set environment
setenv("ANACONDA_ROOT",base)
prepend_path("PATH",pathJoin(base,"bin"))

-- source initialization script (sh or csh)
execute{cmd="source " .. base .. "/etc/profile.d/conda."..myShellType(),modeA={"load"}}

-- unload
if (myShellType() == "csh") then
  cmd = "unsetenv CONDA_EXE; unsetenv _CONDA_ROOT; unsetenv _CONDA_EXE; " ..
        "unsetenv CONDA_SHLVL; unalias conda"
  execute{cmd=cmd, modeA={"unload"}}
end

if (myShellType() == "sh") then
  -- bash sets environment variables, shell functions and path to condabin
  if (mode() == "unload") then
    remove_path("PATH", pathJoin(base,"condabin"))
  end
  cmd = "unset CONDA_EXE; unset _CE_CONDA; unset _CE_M; " ..
        "unset -f __conda_activate; unset -f __conda_reactivate; " .. 
        "unset -f __conda_hashr; unset CONDA_SHLVL; unset _CONDA_EXE; " .. 
        "unset _CONDA_ROOT; unset -f conda"
  execute{cmd=cmd, modeA={"unload"}}
end

-- messages
LmodMessage("Lmod: ", mode().."ing", myModuleName(), "/", myModuleVersion())
